@import url(./reset.css);
@import url(./sideBar.css);
@import url(./dashBoard.css);
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: #F0F1F6;
    background-image: url(../Img/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden{
    /* visibility: hidden; */
    display: none;
}
.absolute{
    position: absolute;
}
/* .unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select : none
} */