@import url(./reset.css);
@import url(./sideBar.css);
@import url(./dashBoard.css);
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: #F0F1F6;
}

.hidden{
    /* visibility: hidden; */
    display: none;
}
.absolute{
    position: absolute;
}
